<ion-header>
  <ion-navbar color="nurfadila8">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>จำนวนข่าว {{ total}} ข่าว</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let ar of articles">
    <img *ngIf="ar.urlToImage" [src]="ar.urlToImage"/>
    <ion-card-content>
      <ion-card-title>
        {{ ar.title }}
      </ion-card-title>
      <p>
        {{ ar. desciption}}
      </p>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button clear color="nurfadila7" icon-left>
          <ion-icon name="person"></ion-icon>
          {{ ar. source.name }}
      </button>
      </ion-col>
    </ion-row>
  </ion-card>

  
  

</ion-content>
